<h1>StaticPage#home</h1>
<p>Find me in app/views/static_page/home.html.erb</p>

<p>Still user? <%= link_to "Log in now!", login_path %></p>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
