<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= render "mainuser" %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.follower_users.any? %>
      <h3>Follower (<%= @user.follower_users.count %>)</h3>
      <ol class="follow_users">
        <%# TODO: カリキュラム8.5　ループ処理は↓ここでしている %>
        <%# この書き方→だとmodelが無いからエラーとなる。 <%= render @followers %>
        <%= render partial: 'followers/follower', collection: @followers %>
      </ol>
    <% end %>
  </div>
</div>